* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(7 166 110);
  font-family: "Roboto", sans-serif;
}
.textContent {
  width: 50%;
  text-align: center;
}
.hide {
  opacity: 0;
  user-select: none;
  pointer-events: none;
}
.go {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.622);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  transition: all 500ms ease;
}

.go-text {
  font-size: 65px;
  display: flex;
  flex-direction: column;
}

.go-text span:nth-child(1) {
  color: #f40009;
}

.option-modal {
  width: 30vw;
  padding: 20px;
  /* height: 30vh; */
  background-color: rgb(7 166 110);
  font-family: "Orbitron";
}

.pow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pow img {
  height: 95%;
}

.options-head {
  color: white;
  text-align: center;
  font-size: 25px;
  margin-bottom: 15px;
}

.options-select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-select button {
  font-family: "Orbitron";
  width: 85%;
  padding: 10px;
  background-color: rgb(182 65 65);
  outline: none;
  border: none;
  color: white;
  transition: all 200ms ease;
  margin: 5px 0px;
}

.options-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
  padding: 0 6.25%;
  /* width: 85%; */
}
.option-type {
  color: white;
  background-color: rgb(182 65 65);
  width: 32%;
  padding: 5px 0px;
  text-align: center;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  transition: all 200ms ease;
}

.option-type:hover {
  background-color: rgb(210, 84, 84);
  cursor: pointer;
}

.selected {
  background-color: rgb(212, 72, 72) !important;
}

.disabled button {
  background-color: rgb(123, 55, 33);
  color: rgb(198, 198, 198);
  cursor: not-allowed;
}
.disabled button:hover {
  background-color: rgb(123, 55, 33) !important;
  color: rgb(198, 198, 198) !important;
  cursor: not-allowed !important;
  transform: scale(1) !important;
}

.option-type:last-child {
  border-right: 1px solid black;
}

.option-modal hr {
  border: 0.5px solid rgba(199, 199, 199, 0.645);
  margin: 10px 0px;
}

.option-modal .info {
  color: white;
  font-size: 10px;
  text-align: center;
}

.options-select button:hover {
  background-color: rgb(210, 84, 84);
  transform: scale(1.05);
  cursor: pointer;
}
.options-select button:active {
  background-color: rgb(145, 80, 58);
  transform: scale(0.95);
}

.go-modal {
  width: 30vw;
  color: white;
  font-family: "Orbitron";
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #041e42;
}
.go-options {
  margin-top: 15px;
  opacity: 0.8;
  font-size: 15px;
}

.go-options span {
  color: #24b515;
}

.food {
  background-color: rgb(230, 154, 47);
  border-radius: 100%;
  position: absolute;
  /* z-index: 5; */
}

.time {
  font-family: "Orbitron";
  color: white;
  display: block;
  font-size: 25px;
}

.colorTextGreen {
  color: #24b515;
}

.colorTextRed {
  color: #f40009;
}

.scores {
  top: 0px;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
  color: white;
  font-weight: 100;
  letter-spacing: 3px;
}

.word {
  color: white;
  border-radius: 3px;
  position: absolute;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(59, 59, 59, 0.568);
}

.score-text {
  color: black;
  font-family: "Poppins";
  font-weight: 400;
  letter-spacing: 0px;
  width: 160px;
}

.score-text span:first-child {
  font-size: 25px;
}

.text {
  width: 600px;
  height: 100px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Roboto";
  font-size: 30px;
  letter-spacing: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  font-weight: 100;
}

.heart {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heartContent {
  margin: 5px;
}
.heartContent img {
  height: 30px;
}
.Content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time2 {
  display: none;
}
.snake-body {
  background-color: rgba(52, 238, 126, 0.803);
  border-radius: 5px;
  position: absolute;
  /* transition: all 100ms ease; */
}

.bg-delta {
  position: absolute;
  opacity: 0.05;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game {
  width: 100vw;
  padding-top: 10px;
  height: 90vh;
  background-color: rgb(7 166 110);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-bg {
  width: 600px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 10px;
  position: relative;
}
.arrows {
  display: none;
}
.snake {
  position: absolute;
  box-sizing: content-box;
  border-radius: 30%;
  background-color: green;
  z-index: 2;
  /* transition: all 100ms ease;s */
}

.menu {
  /* position: absolute; */
  height: 50px;
  width: 160px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background-color: #0e568a; */
  border-radius: 10px;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 2;
}

.menu img {
  height: 100%;
}

.blinking {
  opacity: 0;
  animation: blink 1.5s ease;
}
.pc {
  display: block;
}
.mob {
  display: none;
}

.onclick {
  animation: rotate 1s ease;
}

#joystick {
  position: relative;
  background-color: #210124;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 50px;
  grid-row: 2;
}

#joystick-head {
  position: relative;
  background-color: #f06449;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: grab;
}

.joystick-arrow:nth-of-type(1) {
  position: absolute;
  bottom: 75px;

  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid #210124;
}

.joystick-arrow:nth-of-type(2) {
  position: absolute;
  top: 75px;

  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid #210124;
}

.joystick-arrow:nth-of-type(3) {
  position: absolute;
  left: 75px;

  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 10px solid #210124;
}

.joystick-arrow:nth-of-type(4) {
  position: absolute;
  right: 75px;

  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 10px solid #210124;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.4;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.9;
  }
  70% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .pc {
    display: none;
  }
  .mob {
    display: block;
  }
  .game-bg {
    position: relative;
    width: 360px !important;
    height: 360px !important;
    margin-bottom: 10px;
  }
  .game {
    padding: 20px 0 0 0;
    height: 95vh;
  }

  .arrows {
    display: block;
    position: relative;
    bottom: 10px;
    width: 100vw;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  .text {
    width: 350px;
    height: auto;
    margin-top: 0px;

    /* font-size: 20px; */
  }

  .heart img {
    height: 18px;
  }

  .textContent {
    font-size: 16px;
  }

  .time {
    display: none;
  }
  .time2 {
    font-family: "Orbitron";
    color: white;
    display: block;
    font-size: 20px;
    display: block;
    position: absolute;
    margin-top: 25px;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 25px;
  }
  .controls img {
    width: 50px;
  }

  .controls {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateX(-50%);
  }

  .score-text {
    font-size: 14px;
    width: auto;
  }
  .top {
    bottom: 75%;
    left: 50%;
  }
  .bottom {
    bottom: 15%;
    left: 50%;
  }
  .option-modal {
    width: 80vw;
  }
  .go-modal {
    padding: 15px;
    height: auto;
    width: 75vw;
  }
  .go-text {
    flex-direction: row;
  }

  .go-text span {
    margin: 0px 5px;
  }

  .icon {
    font-size: 25px;
  }

  .go-text {
    font-size: 35px;
  }
  .go-options {
    font-size: 15px;
  }

  .left {
    left: 35%;
    bottom: 45%;
  }
  .right {
    left: 65%;
    bottom: 45%;
  }
  .top img {
    transform: rotate(-90deg);
  }
  .bottom img {
    transform: rotate(90deg);
  }
  .left img {
    transform: rotate(180deg);
  }
  .word {
    font-size: 10px !important;
  }
}
