:root {
  --fromX: 0px;
  --fromY: 0px;

  --toX: 0px;
  --toY: 0px;
  --fromX2: 0px;
  --fromY2: 0px;

  --toX2: 0px;
  --toY2: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
} */
body {
  width: 100vw;
  height: calc(100vh - 3px);
  overflow: hidden;
  background-image: url(./assets/jungle_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(7 166 110);
  font-family: "Roboto", sans-serif;
}
.textContent {
  width: 50%;
  text-align: center;
}
.hide {
  opacity: 0;
  user-select: none;
  pointer-events: none;
}
.go {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.622);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  transition: all 500ms ease;
}

.go-text {
  font-size: 65px;
  display: flex;
  flex-direction: column;
}

.go-text span:nth-child(1) {
  color: #f40009;
}

.option-modal {
  width: 30vw;
  /* height: 450px; */
  position: absolute;
  padding: 20px;
  transition: all 1s ease;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  /* height: 30vh; */
  /* background-color: rgb(7 166 110); */
  background: rgba(61, 61, 61, 0.181);
  box-shadow: 0 8px 32px 0 rgba(60, 113, 211, 0.592);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 10px;
  border: 1px solid rgba(90, 90, 90, 0.171);
  font-family: "Orbitron";
}

.v1 {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.v2 {
  z-index: 6;
  height: 250px;
  padding: 50px;
}

.pow {
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation: glow 1.8s linear infinite; */
}

.pow img {
  height: 95%;
}

.options-head {
  color: white;
  text-align: center;
  font-size: 25px;
  margin-bottom: 25px;
}

.options-select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.free button {
  background-color: rgb(116, 48, 48) !important;
  border: 3px solid rgb(182 65 65) !important;
}

.options-select button {
  font-family: "Orbitron";
  width: 85%;
  padding: 10px;
  background-color: rgb(182 65 65);
  outline: none;
  border: none;
  color: white;
  transition: all 200ms ease;
  margin: 5px 0px;
}

.options-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
  padding: 0 6.25%;
  /* width: 85%; */
}
.option-type {
  color: white;
  background-color: rgb(182 65 65);
  width: 32%;
  padding: 5px 0px;
  text-align: center;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  transition: all 200ms ease;
}

.option-type:hover {
  background-color: rgb(210, 84, 84);
  cursor: pointer;
}

.selected {
  background-color: rgb(212, 72, 72) !important;
}

.disabled button {
  background-color: rgb(123, 55, 33);
  color: rgb(198, 198, 198);
  cursor: not-allowed;
}
.disabled button:hover {
  background-color: rgb(123, 55, 33) !important;
  color: rgb(198, 198, 198) !important;
  cursor: not-allowed !important;
  transform: scale(1) !important;
}

.option-type:last-child {
  border-right: 1px solid black;
}

.option-modal hr {
  border: 0.5px solid rgba(199, 199, 199, 0.645);
  margin: 10px 0px;
}

.option-modal .info {
  color: white;
  font-size: 10px;
  text-align: center;
}

.options-select button:hover {
  background-color: rgb(210, 84, 84);
  transform: scale(1.05);
  cursor: pointer;
}
.options-select button:active {
  background-color: rgb(145, 80, 58);
  transform: scale(0.95);
}

.go-modal {
  width: 30vw;
  color: white;
  font-family: "Orbitron";
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(61, 61, 61, 0.181);
  box-shadow: 0 4px 32px 0 rgba(60, 113, 211, 0.592);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 10px;
  border: 1px solid rgba(90, 90, 90, 0.171);
  /* background-color: rgb(7 166 110); */
}
.go-options {
  margin-top: 15px;
  opacity: 0.8;
  font-size: 15px;
}

.go-options span {
  color: #f40009;
}

.food {
  background-color: rgb(230, 154, 47);
  border-radius: 100%;
  position: absolute;
  /* z-index: 5; */
}

.time {
  font-family: "Orbitron";
  /* color: black !important; */
  color: white;
  display: block;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.709);
  padding: 5px;
  border-radius: 10px;
}

.colorTextGreen {
  color: #24b515;
}

.colorTextRed {
  color: #f40009;
}

.scores {
  top: 0px;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-top: 5px;
  justify-content: space-between;
  color: white;
  font-weight: 100;
  letter-spacing: 3px;
}

.word {
  color: white;
  border-radius: 3px;
  position: absolute;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(59, 59, 59, 0.568);
}

.score-text {
  color: rgba(255, 255, 255, 0.788);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  font-family: "Poppins";
  font-weight: 300;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  padding: 5px 10px;
  letter-spacing: 0px;
  width: 160px;
}

.score-text span:first-child {
  font-size: 25px;
}

.text {
  width: 600px;
  height: 100px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Roboto";
  font-size: 30px;
  letter-spacing: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  font-weight: 100;
}

.heart {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heartContent {
  margin: 5px;
}
.heartContent img {
  height: 30px;
}
.Content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time2 {
  display: none;
}
.snake-body {
  background-color: rgba(52, 238, 126, 0.803);
  border-radius: 30%;
  position: absolute;
  transition: all 100ms linear;

  /* transition: all 100ms ease; */
}

.moving-obstacle {
  position: absolute;
  background-color: transparent;
  transition: all 100ms linear;
}
.moving-obstacle img {
  height: 100%;
  width: 100%;
  animation: rotate 500ms linear 0s infinite;
}

.portal {
  /* background-color: rgba(41, 87, 212, 0.4); */
  background-color: transparent;
  box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.397),
    /* inner white */ inset 0 0 4px 2px rgb(38, 183, 255, 0.5),
    /* middle magenta */ inset 0 0 7px 3px rgba(0, 255, 255, 0.411); /* outer cyan */
  position: absolute;
  border-radius: 30%;
}

.obstacle {
  position: absolute;
  border-radius: 30%;
  /* background: url(./assets/brick.png) no-repeat center center fixed; */
  background-color: #857973;
}

.bg-delta {
  position: absolute;
  opacity: 0.05;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game {
  width: 100vw;
  height: 90vh;
  /* background-color: rgb(7 166 110); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sound {
  display: flex;
  width: 100%;
  padding: 0 7.5%;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.icon {
  color: white;
  background-color: rgb(182 65 65);
  padding: 4px;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
  align-items: center;
  position: relative;
}

.icon img {
  height: 23px;
}

.icon:hover {
  background-color: rgb(210, 84, 84);
  cursor: pointer;
}

.after-class::after {
  position: absolute;
  content: "";
  width: 100%;
  z-index: 1;
  height: 2px;
  transform: rotate(-45deg);
  background-color: white;
  top: calc(50% -5px);
  left: 0;
}

.sound div:first-child {
  padding: 5px;
  color: white;
  background-color: rgb(182 65 65);
}

.game-bg-holder {
  width: 600px;
  height: 600px;
  position: relative;
}

.game-bg {
  width: 600px;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 10px;
  position: relative;
}
.arrows {
  display: none;
}

.snake2 {
  position: absolute;
  border-radius: 30%;
  transition: all 100ms linear;
  z-index: 2;
  background-color: rgb(37, 78, 225);
}
.snake-body2 {
  background-color: rgb(50, 93, 247);
  border-radius: 30%;
  position: absolute;
  transition: all 100ms linear;
}
.snake {
  position: absolute;
  border-radius: 30%;
  background-color: green;
  transition: all 100ms linear;
  z-index: 2;
  /* transition: all 100ms ease;s */
}

.moveSnake {
  animation: snakeStart 100ms linear;
}
.moveSnake2 {
  animation: snakeStart2 100ms linear;
}
@keyframes snakeStart2 {
  0% {
    top: var(--fromY2);
    left: var(--fromX2);
  }
  100% {
    top: var(--toY2);
    left: var(--toX2);
  }
}
@keyframes snakeStart {
  0% {
    top: var(--fromY);
    left: var(--fromX);
  }
  100% {
    top: var(--toY);
    left: var(--toX);
  }
}

.menu {
  /* position: absolute; */
  height: 50px;
  /* width: 160px; */
  padding: 5px 5px;
  border-radius: 10px;
  margin-left: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background-color: #0e568a; */
  background-color: rgba(0, 0, 0, 0.801);

  border-radius: 10px;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 2;
}

.menu img {
  height: 100%;
}

.blinking {
  opacity: 0;
  animation: blink 1.5s ease;
}
.pc {
  display: block;
}
.mob {
  display: none;
}

.onclick {
  animation: rotate 1s ease;
}

#joystick {
  position: relative;
  transform: scale(1.35);
  background-color: #210124;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 50px;
  grid-row: 2;
}

#joystick-head {
  position: relative;
  background-color: #f06449;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: grab;
}

.joystick-arrow:nth-of-type(1) {
  position: absolute;
  bottom: 75px;

  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid #210124;
}

.joystick-arrow:nth-of-type(2) {
  position: absolute;
  top: 75px;

  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid #210124;
}

.joystick-arrow:nth-of-type(3) {
  position: absolute;
  left: 75px;

  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 10px solid #210124;
}

.joystick-arrow:nth-of-type(4) {
  position: absolute;
  right: 75px;

  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 10px solid #210124;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.4;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.9;
  }
  70% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes glow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 930px) {
  .pc {
    display: none !important;
  }

  .mob {
    display: block;
  }
  .game-bg-holder {
    position: relative;
    width: 360px;
    height: 360px;
  }
  .game-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px !important;
    height: 360px !important;
    margin-bottom: 10px;
  }
  #joystick {
    position: relative;
    transform: scale(1);
    background-color: #210124;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 50px;
    grid-row: 2;
  }
  .game {
    padding: 50px 0 0 0;
    height: 95vh;
    justify-content: flex-start;
  }
  .menu-main {
    width: 70vw !important;
  }
  .arrows {
    display: block;
    position: relative;
    bottom: 10px;
    width: 100vw;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  .text {
    width: 350px;
    height: auto;

    /* font-size: 20px; */
  }

  body {
    /* overflow: scroll; */
  }

  .heart img {
    height: 18px;
  }

  .textContent {
    font-size: 16px;
  }

  .time {
    display: none;
  }
  .time2 {
    font-family: "Orbitron";
    color: white;
    display: block;
    font-size: 20px;
    display: block;
    position: absolute;
    margin-top: 25px;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 25px;
  }
  .controls img {
    width: 50px;
  }

  .controls {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateX(-50%);
  }

  .score-text {
    font-size: 14px;
    width: auto;
  }
  .top {
    bottom: 75%;
    left: 50%;
  }
  .bottom {
    bottom: 15%;
    left: 50%;
  }
  .option-modal {
    width: 80vw;
  }
  .go-modal {
    padding: 15px;
    height: auto;
    width: 75vw;
  }
  .go-text {
    flex-direction: row;
  }

  .go-text span {
    margin: 0px 5px;
  }

  .icon {
    font-size: 25px;
  }

  .go-text {
    font-size: 35px;
  }
  .go-options {
    font-size: 15px;
  }

  .left {
    left: 35%;
    bottom: 45%;
  }
  .right {
    left: 65%;
    bottom: 45%;
  }
  .top img {
    transform: rotate(-90deg);
  }
  .bottom img {
    transform: rotate(90deg);
  }
  .left img {
    transform: rotate(180deg);
  }
  .word {
    font-size: 10px !important;
  }
}

@media only screen and (min-height: 700px) {
  #joystick {
    width: 100px;
    height: 100px;
  }
  #joystick-head {
    width: 20px;
    height: 20px;
  }
  .joystick-arrow:nth-of-type(1) {
    bottom: 120px;
    transform: scale(1.8);
  }
  .joystick-arrow:nth-of-type(2) {
    top: 120px;
    transform: scale(1.8);
  }
  .joystick-arrow:nth-of-type(3) {
    left: 120px;
    transform: scale(1.8);
  }
  .joystick-arrow:nth-of-type(4) {
    right: 120px;
    transform: scale(1.8);
  }
  .arrows {
    margin-top: 10px;
  }
  .text {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
